@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
$red0: #00eeffa1;
$red1: #D49696;
$red2: #CC8484;
$red3: #C47373;
$red4: #BB6261;
$red5: #B35150;
$red6: #A34847;
$red7: #904040;
$red8: #7E3939;
$red9: #6C3131;
$grey0: #181818;

body {
background-image: url(/Photos/HexaBackgroundWidth.png);
background-attachment: fixed;
}

.taniec {
    width: auto;
    height: 2000px;
}

.input-group{
    background-color: green($color: #00ff2a);
    color: #00ff2a;
}

.MenuBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: -webkit-linear-gradient(0deg, $red0 5%, $grey0 50%, $grey0 100%);

    box-shadow: 0px 0px 10px black;
    margin: 0%;
    margin-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

h1 {
    color: $red9;
}

.MenuButton {
    border-style: solid;
    padding: 10px;
    border-width: 2px 2px;
    border-left-width: 10px;
    border-right-width: 10px;
    color: $red4; 
    text-decoration: none;
    font-size: large;
    border-radius: 1px;
}

.MenuButton:hover {
    border-style: solid;
    padding: 10px;
    border-width: 2px 2px;
    border-left-width: 10px;
    border-right-width: 10px;
    color: $red8;
    text-decoration: none;
    font-size: large;
    border-radius: 1px;
    box-shadow: 2px 2px 2px black;
    animation-name: example;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes example {
    0% {background: $grey0;}
    100% {background: $red0;}
  }
  @keyframes old {
  }